body {
    background-color: #000
}
#console {
    font-family: courier, monospace;
    color: #fff;
    width: 950px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    font-size:14px;
    text-align: justify ;
}
a {
    color: #0bc;
    text-decoration: none;
}
#a {
    color: #0f0;
}
#c {
    color: #d4af37;
}
#b {
    color: #ff0096;
}

.social-buttons a {
    margin-left: auto;
    float: right;
    font: 16px;
    color: #fff;
}

/* .social-buttons a:hover {

} */

.social-buttons i {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    transform: scale(2);
    transform-origin: top left;
}

